p {
  margin: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 50%;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  left: 50%;
  margin-left: -25%;
  position: absolute;
  padding: 20px;
  border-radius: 4px;
}

ol {
  margin: 0px;
  padding-left: 25px;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.complete_container {
  display: flex;
}

button {
  border-radius: 4px;
}

.complete {
  text-decoration: line-through;
}

.add {
  background-color: #ff1493;
  color: white;
  border: none;
  height: 30px;
}

/* .delete_container {
    display: flex;
    flex-direction: flex-end;
} */

.delete {
  background-color: transparent;
  border: none;
}

.incomplete {
  background-color: white;
  border: 1px solid #ff69b4;
  color: #ff69b4;
  height: 30px;
}

input {
  height: 30px;
  font-size: 20px;
  margin: 5px;
}
