<div class="container">
  <h1>ToDo List</h1>
  <p>A place to store your todos</p>
  <input type="text" placeholder="Filter your to-dos" />
  <div class="toDo" *ngFor="let todo of toDoList; index as i">
    <p>{{ i + 1 }}.</p>
    <button
      [ngClass]="{ completed: todo.completed }"
      *ngIf="todo.completed === true"
    >
      Complete
    </button>
    <p>{{ todo.task }}</p>
    <button class="delete" (click)="removeToDo()">
      <i class="fas fa-times"></i>
    </button>
  </div>
  <input type="text" placeholder="Add your to-do" />
  <button class="add">Add</button>
</div>
